$background-color: #72757e;
$secondary-background: #16161a;
$tertiary-background: #010101;
$quaternary-background: #fffffe;
$happygreen: #2cb67d;
$discord-white: #fffffe;
$button-text: #2e2e2e;
$rub-background: #72757e;
$rub-element: #16161a;

$top: #7f5af0;
$green: #16161a;
$blue: #7f5af0;
$black: #010101;
$light-grey: #94a1b2;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;

$javascript: #f7ff00;
$css: #4666ff;
$html: #ff073a;
$fb-blue: #2b568e;
$linkedin-green: #004f63;
$twitter-blue: #11a8cd;

$color1: #845ec2;
$color2: #d65db1;
$color3: #ff6f91;
$color4: #ff9671;
$color5: #ffc75f;
$color6: #f9f871;

$angular-darkred: #580000;
$angular-red: #c3002f;
$angular-white: #eaeaea;

$node-dark-charcoal: #303030;
$node-russian-green: #68a063;
$node-may-green: #3c873a;

$html-darkorang: #e34c26;
$html-lightorange: #f06529;
$html-lightgrey: #ebebeb;
$html-white: #ffffff;
$html-black: #000000;

$css-darkblue: #264de4;
$css-lightblue: #2965f1;
$css-lightgrey: #ebebeb;
$css-white: #ffffff;
$css-black: #000000;

$bright-pink: #cd6799;
$darker-pink: #cf649a;
$deep-purple: #a53c6c;
$lighter-purple: #c6538c;

$github-black: #24292e;
$github-white: #ffffff;
$github-red: #c83d2d;
