<div class="grid">
  <div class="zone logo">
    1

    <a routerLink="#" class="home-icon">
      <img src="/assets/logom.png" alt="" />
    </a>
  </div>
  <div class="zone angular">
    2

    <h3><span class="highlight">Marc</span>in</h3>
  </div>
  <div class="zone icon">
    3

    <a href="#"><i class="fab fa-discord"></i></a>
  </div>
</div>
<!-- 
<li routerLink="#" class="home-icon">
  <img src="/assets/logom.png" alt="" />

  <h3><span class="highlight">Marc</span>in</h3>
</li>

<li class="discord">
  <a href="#"><i class="fab fa-discord"></i></a>
</li> -->
