<h2>Rub Component</h2>

<!-- <header>
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Others</li>
    <li>router-link</li>
    <li>router-link</li>
    <li>router-link</li>
    <li>router-link</li>
    <li>router-link</li>
    <li>router-link</li>
  </ul>
</header> -->

<div class="item-routerlinks">
  <div class="item 1">Components</div>
  <div class="item 2">Directives</div>
  <div class="item 3">Services</div>
  <div class="item 4">Pipes</div>
  <div class="item 5">Other</div>
  <div class="item 6">router-link</div>
  <div class="item 7">router-link</div>
  <div class="item 8">router-link</div>
</div>

<h3>Group 1</h3>
<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>

<h3>Group 2</h3>
<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>

<h3>Group 3</h3>
<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>

<h3>Group 4</h3>
<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>

<h3>Group 5</h3>
<div class="grid-container">
  <div class="zone 1">zone works 1</div>
  <div class="zone 2">zone works 2</div>
  <div class="zone 3">zone works 3</div>
  <div class="zone 4">zone works 4</div>
  <div class="zone 5">zone works 5</div>
  <div class="zone 6">zone works 6</div>
  <div class="zone 7">zone works 7</div>
  <div class="zone 8">zone works 8</div>
  <div class="zone 9">zone works 9</div>
  <div class="zone 10">zone works 10</div>
  <div class="zone 11">zone works 11</div>
  <div class="zone 12">zone works 12</div>
</div>

<h2>Footer</h2>
