@import "src/styles/colors";
@import "src/styles/breakPoints";
@import "/src/styles/mixins";

.background-image {
  background-size: cover;
}

h1 {
  color: $quaternary-background;
}

.container p {
  list-style-type: none;
  color: $quaternary-background;
}
