<nav>
  <div class="nav-container">
    <ul>
      <li routerLink="#" class="home-icon">
        <img src="/assets/logom.png" alt="" />
        <h3><span class="highlight">Marc</span>in</h3>
      </li>
      <li [routerLink]="[]" fragment="courses"></li>
      <li>
        <!-- <a
            href="https://drive.google.com/open?id=1Cd8VQE1f64zGYYvfDqHpAZaNdp48sA82oW2ZojDOnlA"
            target="blank"
            >DevFest Slides</a
          > -->
      </li>

      <li>
        <a href="#"><i class="fab fa-discord"></i></a>
      </li>
    </ul>
  </div>
</nav>
