<section id="skills">
  <h3>Section</h3>
  <div class="skills-container">
    <div class="zone 1">
      <i class="fab fa-angular"></i>
      <h4>Angular</h4>
    </div>
    <div class="zone 2">
      <i class="fab fa-node-js"></i>
      <h4>Node</h4>
    </div>
    <div class="zone 3">
      <i class="fab fa-html5"></i>
      <h4>HTML</h4>
    </div>
    <div class="zone 4">
      <i class="fab fa-css3-alt"></i>
      <h4>CSS</h4>
    </div>
    <div class="zone 5">
      <i class="fab fa-sass"></i>
      <h4>Sass</h4>
    </div>
    <div class="zone 6">
      <i class="fab fa-gitkraken"></i>
      <h4>Git</h4>
    </div>
  </div>
</section>
